html {
  height: 100%; /* fallback for IE and older browsers */
  height: 100vh;
}

#root,
.App {
  height: auto; /* required to allow content to expand vertically without overflow */
  width: auto;
  min-height: 100%; /* fallback for IE and older browsers */
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.loader {
  border-top-color: rgba(67, 56, 202);
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

.parent {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
}

.child {
  max-width: 150px;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
